---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import LinkedinIcon from "../components/icons/Linkedin.astro";
import SocialLinks from "../components/SocialLinks.astro";
import GithubIcon from "../components/icons/Github.astro";
import MailIcon from "../components/icons/Mail.astro";
import SectionContainer from "../components/SectionContainer.astro";
import CodeIcon from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
import Aboutme from "../components/Aboutme.astro";
import UserIcon from "../components/icons/User.astro";
---

<Layout title="Portfolio Sara - Fullstack Developer"
	description="Contrata a Sara para formar parte de tu equipo">
  <main class="px-4">
    <SectionContainer class="w-full lg:w-[768px] mx-auto py-35">
      <h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
        Hey, soy Sara <a
          href="https://www.linkedin.com/in/sara-armoa/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
          ><Badge>Disponible para trabajar</Badge></a
        >
      </h1>
      <h2 class="text-xl text-white lg:text-2xl text-wrap max-w-[700px]">
        <span>Licenciada en Análisis de Sistemas Informáticos - Fullstack Developer</span>
        <span class="text-yellow-200/90"
          >con experienca en el stack de MERN</span
        > incluyendo JavaScript, MongoDB, Express.js, React.js y Node.js. Además, tengo habilidades en PHP (Laravel), MySQL, PostgreSQL, Bootstrap y Tailwind CSS.
       
      </h2>
      <nav class="flex gap-4 mt-8 flex-wrap">
          <SocialLinks href="https://www.linkedin.com/in/sara-armoa/">
            <LinkedinIcon class="size-4 md:size-6" />
			LinkedIn
          </SocialLinks>
		  <SocialLinks href="https://github.com/sariavaal">
			<GithubIcon class="size-4 md:size-6" />
			GitHub
		  </SocialLinks>
		  <SocialLinks href="mailto:sariavaal@gmail.com">
			<MailIcon class="size-4 md:size-6" />
			sariavaal@gmail.com
		  </SocialLinks>
	  </nav>

    <div class="space-y-24 mt-4">
      <SectionContainer id="sobremi">
        <h2
          class="flex items-center mb-3 text-3xl font-semibold gap-x-3 text-white"
        >
          <UserIcon class="size-7" />
          Sobre mi
        </h2>
        <Aboutme />
      </SectionContainer>
      <SectionContainer id="proyectos">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-white"
        >
          <CodeIcon class="responsive-icon" />
          Proyectos
        </h2>
        <Projects />
      </SectionContainer>
      

      </div>
    </SectionContainer>
    

    
  </main>

  <Footer />

  <style is:global>
    .responsive-icon {
      width: 5vw; /* Ajusta el tamaño del icono según sea necesario */
      height: auto; /* Mantén la relación de aspecto */
    }
  </style>

</Layout>
