<footer class="rounden-lg shadow m-4 bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm sm:text-center text-yellow-200">
            © 2024 <a href="https://github.com/sariavaal" class="hover:underline">Sara Armoa</a>. All Rights Reserved.
        </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a href="#sobremi" class="mr-4 hover:underline md:mr-6"> Sobre mi </a>
            </li>
            <li>
                <a href="#proyectos" class="mr-4 hover:underline md:mr-6"> Proyectos </a>
            </li>
           
        </ul>

    </div>

</footer>