<header class="flex justify-center items-center py-5 w-full xl:w-[1120px]">
    <nav class="flex gap-4">
      <a href="#top" class="nav-link">Inicio</a>
      <a href="#sobremi" class="nav-link">Sobre mi</a>
      <a href="#proyectos" class="nav-link">Proyectos</a>
    </nav>
  </header>
  
  <style>
    .nav-link {
      background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con opacidad */
      color: white;
      padding: 10px 15px;
      border-radius: 5px;
      transition: border-color 0.3s ease; /* Transición suave del color del borde */
      border: 2px solid transparent; /* Borde transparente por defecto */
    }
  
    .nav-link:hover {
      border-color: white; /* Cambia el color del borde al pasar el cursor */
    }
  </style>
  