---
import Header from "../components/Header.astro";
// Supports weights 100-900
import "@fontsource-variable/onest";

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div
      class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"
    >
    </div>
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family: "Onest Variable", sans-serif;
	scroll-behavior: smooth;
  }
  body {
    display: flex;
    flex-direction: column;
    background: #2e2f32;
    color: aliceblue;
    min-height: 100vh;
    position: relative;
	
  }
  /* Estilos específicos para dispositivos móviles */
  @media screen and (max-width: 768px ) {
            body {
                font-size: 14px; /* Reducir el tamaño de fuente para dispositivos móviles */
                line-height: 1.5;
                
                
            }
        }
   /* Estilos específicos para iPhone 12 */
   @media screen and (max-width: 390px) {
            body {
                width: 100%; /* Ancho del cuerpo del 100% en iPhone 12 */
                height: 100vh; /* Altura del cuerpo igual a la altura de la ventana gráfica en iPhone 12 */
            }
        }



  @media(prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
	  
  }
</style>
